<!DOCTYPE html>

<script src="../static/jquery.min.js"></script>

<html lang="en">
  <head>
    <title>Animalia App</title>
 
    
    <link href="../static/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/fact.css" rel="stylesheet">
    
  </head>
 
  <body>
 
      <div class="jumbotron">
        <h1>Animalia App</h1>
        <form class="form-set-fact">
        <label for="input_fact" class="sr-only">Add fact</label>
        <input type="name" name="fact" id="input_fact" class="form-control" placeholder="the otter is an animal" required autofocus>
        <button id="btn_submit_fact" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
      </form>
      </div>
 
    </div>
  </body>
</html>

<script>

$(function() {
    $('#btn_submit_fact').click(function() {

        var req_data = {};
        $.each($('form').serializeArray(), function (i, input) {
            req_data[input.name] = input.value;
        });
        
        $.ajax({
            type: 'POST',
            url: '/animal/fact',
            data: JSON.stringify(req_data),
            contentType: 'application/json, charset=utf-8',
            success: function(data) {
                console.log(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

</script>
